body{
    font-family: cursive;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container{
    width: 80%;
    margin: 12px auto;
}

h1{
    font-size: 24px;
    border-bottom: 3px dashed lightskyblue;
    margin: 16px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
    font-size: 0.8rem;
}
header a{
    margin: 8px;
}


.post{
    line-height: 2rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    vertical-align: center;
}
h2{
    font-size: 1.1rem;
    margin: 0px 32px 0px 0;
    width: 20%;
    text-align: right;
}
.post p{
    font-size: 1.2rem;
    margin: 0 8px;
    width: 50%;
    text-align: left;
}

input,textarea{
    height: 1.6rem;
    display: block;
    padding: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
}
input{
    width: 20%;
    display: inline-block;
}
textarea{
    width: 100%;
}
.addbtn{
    padding: 4px 8px;
}
.error{
    color: red;
    margin-bottom: 2rem;
}

.deletebtn{
    cursor: pointer;
    color: #444;
    margin-right: 8px;
    font-size: 0.6rem;
}
.alldeletebtn{
    border: none;
    background-color: inherit;
    color: blue;
    cursor: pointer;
}
